//color
$background-color: #FAFCFE;
$grey-dark: #6c6c6c;
$text-main: #00292b;
$ink-light: #4F5E71;
$grey: #616161;

$green-default: #008e96;
$green-hover: #007A7F;
$green-active: #005755;
$green-disabled: #79D8DC;

$blue-default: #2F8AD7;
$blue-hover: #2E87D3;
$blue-active: #1F5E92;
$blue-disabled: #9DCAED;

$green-default: #008e96;
$green-hover: #007A7F;
$green-active: #005755;
$green-disabled: #79D8DC;

